@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Anton, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.against,
.bestOf{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#scores {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.questionMark {
    background-color: lightgray;
    border: 2px solid black;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}