@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Anton, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: navy;
    color: bisque;
    gap: 10px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

.against,
.bestOf{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
}

.roundNumber {
    margin-top: 30px;
    font-size: 50px;
}

#choices {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.vs,
.computerChoice {
    font-size: 40px;
}

#scores {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 30px;
    border: 2px solid white;
}

.questionMark {
    background-color: lightgray;
    border: 2px solid black;
}

.result,
.finalScore {
    font-size: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    width: 100%;
    color: black;
}